/* common styles */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #3E3E3E;
    background: #FFFBF0;
}
/* nav {
    background-color: #FFFBF0;
} */

/* home styles */
h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 80px;
}
.color--orange {
    color: #FABE4C;
}
p {
    width: 357px;
}
button img {
    width: 24px;
}
img {
    width: 440.72px;
}

@media only screen and (max-width: 576px) {
    /* home styles */
    h1 {
        font-size: 60px;
    }
    img {
        width: 309.05px;
    }
}
